
#wpmoly-meta-panels .wpmoly-ratings-item span {
	cursor: pointer;
}

#wpmoly-meta-panels .wpmoly-ratings-item-select-stars.rated .wpmolicon.icon-star-empty,
#wpmoly-meta-panels .wpmoly-ratings-item-select-stars.rated .wpmolicon.icon-star-filled {
	color: #0074a2;
}

#wpmoly-meta-panels .wpmoly-ratings-item-select-stars .wpmolicon.icon-star-empty {
	color: #aaa;
}

#wpmoly-meta-panels .wpmoly-ratings-item-select-stars .wpmolicon.icon-star-filled {
	color: #444;
}

#wpmoly-meta-panels .wpmoly-ratings-item-select-stars a {
	border-left: 1px solid #ddd;
	box-shadow: 0 0 0;
	color: #aaa;
	margin-left: 0.5rem;
	padding-left: 0.25em;
	position: relative;
	text-decoration: none;
	top: 1px;
}

#wpmoly-meta-panels .wpmoly-ratings-item-select-stars a:hover {
	color: #888;
}

#wpmoly-meta-panels .wpmoly-ratings-item-select-stars a span {
	font-size: 0.95rem;
	line-height: 1.25em;
}
